:root {
  --color1: #b4923e;
  --color2: #d2c59a;
  --color3: #266D2F;
  --color4: #468C4F;
  --color5: #b2d7c8;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sectionHome{
  background: rgb(70,140,79);
  background: linear-gradient(270deg, rgba(70,140,79,1) 0%, rgba(28,56,32,1) 100%);
  height:auto;
  width: 100%;
  padding: 2.5rem 0 1.5rem;
  
}
.sectionContainer{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}


.sectionForm{
  padding: 2rem 0;
  max-width: 1280px;
  margin:2rem auto;

}

@media(max-width:1070px){
  .sectionContainer{
    max-width: 990px;
  }
}

@media(max-width:760px){
  .description{
    flex-direction: column-reverse;
  }
  .sectionHome{
    background-color: var(--color4);

  }
  .sectionContainer{
    flex-direction: column;
    height: 100% ;
  }
}